---
- name: ensure slurm rpms and dependencies are present
  when: not is_container is defined
  yum: pkg={{ item }} state=present
  tags: 
  - slurm
  - rpm
  with_items:
     - slurm

- name: create slurm group
  tags:
  - user
  - slurm
  action: group name=slurm gid=5000 system=no

- name: create slurm user
  tags:
  - user
  - slurm
  action: user name=slurm group=slurm shell=/bin/false uid=5000 createhome=no home=/opt/slurm

- name: create a slurm config dir
  tags: slurm
  file: path=/etc/slurm/ mode=0755 state=directory

- name: create slurm dirs
  tags: slurm
  file: path=/var/{{ item }}/slurm/ owner=slurm mode=0755 state=directory
  with_items:
    - lib
    - log
    - run

- name: create slurm directories
  tags: slurm
  file: path=/var/spool/slurmd owner=slurm mode=0755 state=directory

- name: restart munged service
  tags: 
  - slurm
  supervisorctl: name=munged state=restarted


- name: configure slurm (master)
  action: template src=usr/local/etc/{{ slurm_conf_template }} dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: is_master is defined 
  tags: 
  - slurm
  - cfg
  notify: restart slurmctld

- name: configure slurmctld (master)
  action: template src=usr/local/etc/slurm.conf.j2 dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: is_container is defined and is_master is defined 
  tags: 
  - slurm
  - cfg
  notify: restart slurmctld

- name: create slurm directories
  tags: slurm
  file: path=/var/spool/slurmd owner=slurm mode=0755 state=directory

- name: configure slurmctld and slurmd (master)
  action: template src=usr/local/etc/{{ slurm_conf_template }} dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: is_master is defined 
  tags: 
  - slurm
  - cfg
  notify: 
  - restart slurmctld

- name: configure slurmd
  action: template src=usr/local/etc/{{ slurm_conf_template }} dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: not is_master is defined 
  tags: 
  - slurm
  - cfg
  notify: restart slurmd

- name: LD_LIBRARY_PATH to find libmunge
  tags:
    - env
  lineinfile:
    dest=/etc/bashrc
    line="export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib/"
    regexp=".*export LD_LIBRARY_PATH="
    owner=root
    state=present
    insertafter=EOF
    create=True


