#!/bin/bash
#SBATCH --ntasks-per-node={{ ansible_processor_cores }}
#SBATCH --workdir={{ home_dir }}/cluser/

# ENV
source /etc/bashrc
module unload mpi
module load mpi/{{ mpi_version }}
# \ENV

mkdir -p BARE/${SLURM_JOBID}
cd BARE/${SLURM_JOBID}
cat << EOF > hpcg.dat
HPCG benchmark input file
Sandia National Laboratories; University of Tennessee, Knoxville
{{ job_size }} {{ job_size }} {{ job_size }}
{{ job_time }}
EOF

echo "## $(date +'%F %H:%M:%S') Start mpirun with '{{ node_job }}' input deck"
mpirun --mca btl "self,openib"  {{ hpcg_dir }}/BM_OMP-SYS/bin/xhpcg
echo "## $(date +'%F %H:%M:%S') Job ends"
eval_hpcg.py HPCG-Benchmark-*.yaml

