---
- name: ensure docker-io is at the latest version
  yum: pkg=docker state=latest
  when: ansible_distribution == "CentOS"
  tags:
     - docker
- name: write the docker systemd script
  template: src=templates/docker.service.j2 dest=/usr/lib/systemd/system/docker.service
  notify:
    - restart docker
  tags:
     docker
- name: ensure docker is running
  service: name=docker state=started
  tags:
     - docker

#- name: add dummy docker rpm
#  copy: src=files/yum-cache/docker-1.0-1.x86_64.rpm dest=/tmp/docker-1.0-1.x86_64.rpm owner=root group=root mode=0644
#  when: ansible_distribution == "RHEL"
#  tags:
#     - docker
#
#- name: install dummy docker-rpm to satisfy docker-py
#  yum: name=/tmp/docker-1.0-1.x86_64.rpm state=present
#  when: ansible_distribution == "RHEL"
#  tags:
#     - docker
#
#- name: add python-docker-py
#  yum: pkg={{ item }} state=latest
#  with_items:
#     - python-docker-py
#  tags:
#     - docker

- name: Update bashrc for DOCKER_HOST
  tags:
    - docker
    - env
  lineinfile:
    dest=/etc/bashrc
    line="export DOCKER_HOST=tcp://localhost:6000"
    regexp=".*DOCKER_HOST="
    owner=root
    state=present
    insertafter=EOF
    create=True

- name: Copydocker startscript (since docker-py failed for me)
  tags: docker
  copy: src=files/usr/local/bin/start_container.sh dest=/usr/local/bin/start_container.sh owner=root group=root mode=0755

