---
- name: ensure slurm rpms and dependencies are installed
  yum: pkg={{ item }} state=latest
  tags: slurm
  with_items:
     - slurm

- name: create a slurm config dir
  tags:
    - slurm
  file: path=/etc/slurm/ mode=0755 state=directory

- name: create a slurm dirs
  tags:
    - slurm
  file: path=/var/{{ item }}/slurm/ owner=slurm mode=0755 state=directory
  with_items:
    - lib
    - log
    - run

- name: configure slurm (master)
  action: template src=templates/usr/local/etc/slurm.conf.j2 dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: "'master' in group_names"
  tags:
    - slurm
  #notify: restart slurmctld

- name: configure slurm (client)
  action: template src=templates/usr/local/etc/slurm.conf.j2 dest=/usr/local/etc/slurm.conf owner=root group=root mode=0644
  when: "'clients' in group_names"
  tags: slurm
  #notify: restart slurmd

#- name: munged service
#  tags:
#    - slurm
#  action: service name=munged state=started enabled=yes
#
#- name: slurmd service
#  action: service name=slurmd state=started enabled=yes
#  when: "'clients' in group_names"
#  tags:
#    - slurm
#
#- name: slurmctld service
#  action: service name=slurmctld state=started enabled=yes
#  when: "'master' in group_names"
#  tags:
#    - slurm
