#!/bin/bash
#SBATCH --ntasks-per-node={{ core_count }}
#SBATCH --workdir=SED_WORKDIR
#SBATCH --job-name=SED_JOB_NAME
#SBATCH --partition=SED_SLURM_PARTITION

. job.cfg

BASE_PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
export PATH=${BASE_PATH}
if [ $(cat /etc/issue|grep -c 'Ubuntu 12.04') -eq 1 ];then
    if [ ${MPI_VER} == omp-sys ];then
        BASE_PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
        export PATH=${BASE_PATH}
        export LD_LIBRARY_PATH=/usr/local/lib
    else
        MPI_NR=$(echo ${MPI_VER} |egrep -o "[0-9\.]+")
        MPI_PATH=/usr/local/openmpi/${MPI_NR}/
        echo "MPI_PATH=${MPI_PATH}" >> job.cfg
        BASE_PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
        export PATH=${MPI_PATH}/bin:${BASE_PATH}
        export LD_LIBRARY_PATH=${MPI_PATH}/lib:/usr/local/lib
    fi
elif [[ ${MPI_VER} =~ omp ]];then
    if [ ${MPI_VER} == omp-sys ];then
        MPI_PATH=/usr/lib64/openmpi
    else
        MPI_NR=$(echo ${MPI_VER} |egrep -o "[0-9\.]+")
        MPI_PATH=/usr/local/openmpi/${MPI_NR}/
    fi
    # ENV
    echo "MPI_PATH=${MPI_PATH}" >> job.cfg
    BASE_PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
    export PATH=${MPI_PATH}/bin:${BASE_PATH}
    export LD_LIBRARY_PATH=${MPI_PATH}/lib:/usr/local/lib
    # \ENV
else 
    echo "unrecogniced mpi version '${MPI_VER}'"
    exit 1
fi

JOB_MPI_DIR=/chome/cluser/build/hpcg-2.4/${SLURM_PARTITION}_${MPI_VER}
JOB_MPI_BIN=${JOB_MPI_DIR}/bin/xhpcg
if [ ! -f ${JOB_MPI_BIN} ];then
    rm -rf ${JOB_MPI_DIR}
    mkdir -p ${JOB_MPI_DIR}
    cd ${JOB_MPI_DIR}
    ../configure MPI_GCC_OMP |tee configure.log
    make |tee make.log
    EC=$?
    if [ ${EC} -ne 0 ];then
        echo "Compilation went wrong... :("
        exit ${EC}
    fi
fi

echo "START_DATE=$(date +'%F_%H:%M:%S')" >> job.cfg
echo "SLURM_NODELIST=${SLURM_NODELIST}" >> job.cfg
echo "SLURM_JOBID=${SLURM_JOBID}" >> job.cfg


START_TIME=$(date +%s)
echo "START_TIME=${START_TIME}"
echo "## $(date +'%F %H:%M:%S') Start mpirun with '${PROB_SIZE}^3 in ${JOB_TIME}sec'"
mpirun --mca btl "{{ mpirun_btl }}"  ${JOB_MPI_BIN}
EC=$?
echo "## $(date +'%F %H:%M:%S') Job ends"
if [ ${EC} -eq 0 ];then
    END_TIME=$(date +%s)
    echo "END_TIME=${END_TIME}"
    WALL_CLOCK=$((${END_TIME}-${START_TIME}))
    echo "WALL_CLOCK=${WALL_CLOCK}" >> job.cfg
    eval_hpcg.py .
fi

