---
- name: Check the installed openmpi version
  tags:
    - openmpi
  when: not is_container is defined
  command: rpm -q openmpi
  register: rpm_check
  ignore_errors: yes

- name: remove the openmpi-1.8 rpm
  tags:
    - openmpi
  when: not is_container is defined and rpm_check.stdout.find('openmpi-1.8') != -1
  yum: name=openmpi state=absent

- name: ensure some default rpm are present
  tags:
    - rpm
  when: not is_container is defined
  yum: pkg={{ item }} state=present
  with_items:
     - vim
     - nc
     - tmux
     - screen
     - openmpi
     - infiniband-diags 
     - libmlx4
     - perftest
     - ntpdate
     - python-docopt
     - PyYAML
     - python-configobj
     - python-netifaces

